<div class="py-4" id="<%= dom_id(comment)%>_container">
  <div class="flex items-start gap-4">
    <div class="rounded-full size-8 text-sm flex items-center justify-center font-semibold <%= ["bg-red-100", "bg-blue-100", "bg-green-100", "bg-pink-100", "bg-purple-100"].sample %>">
      <%= comment.user.first_name.first.upcase %>
    </div>

    <div class="flex-1 pt-1">
      <p class="font-semibold"><%= comment.user.name %></p>

      <%= turbo_frame_tag dom_id(comment) do %>
        <div class="prose mt-1 mb-3">
          <%= simple_format comment.content %>
        </div>

        <% if comment.persisted? && comment.user == current_user %>
          <%= link_to "Edit", edit_feature_comment_path(comment.feature, comment), class: "underline font-medium" %>
        <% end %>
      <% end %>

      <% if comment.persisted? && comment.user == current_user %>
        <%= button_to "Delete", feature_comment_path(comment.feature, comment), method: :delete, class: "underline font-medium mb-6" %>
      <% end %>

      <!-- Reply Form -->
      <% if comment.nesting_level < Comment::MAX_NESTING_LEVEL %>
        <div data-controller="toggle">
          <button class="btn btn-white btn-sm" data-toggle-target="btn" data-action="click->toggle#toggle">Reply</button>
          <div class="hidden" data-toggle-target="toggleable">
            <%= render "comments/reply_form", feature: comment.feature, comment: comment %>
          </div>
        </div>
      <% end %>

      <!-- Render replies recursively -->
      <div class="pl-4 mt-3 border-l border-dashed border-gray-300">
        <%= render partial: 'comments/comment', collection: comment.replies, as: :comment, locals: { nesting_level: 1 }  %>
      </div>
    </div>
  </div>
</div>
