<div class="my-2">
  <%= form_with(model: [feature, Comment.new]) do |f| %>

    <div class="mb-3">
      <%= f.label :content, "Reply", class: "sr-only" %>
      <%= f.text_area :content, class: "form-input", placeholder: "Type your response to #{comment.user.name.first}" %>
    </div>

    <%= f.hidden_field :parent_id, value: comment.id %>

    <% if comment.errors.any? %>
      <div class="text-red-500 pb-3 text-sm">
        <ul>
          <% comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.submit "Reply", class: "btn btn-primary" %>
  <% end %>
</div>
