<div class="max-w-5xl rounded mx-auto px-4 mt-10">
  <div class="grid grid-cols-1 md:grid-cols-12 bg-white">
    <aside class="md:col-span-3 md:p-6">
      <h3 class="font-semibold text-xs uppercase mb-3">Category</h3>

      <ul class="-mx-3 space-y-2">
        <li>
          <%= link_to "Products", "#", class: "px-3 py-1 rounded-md hover:bg-slate-50 block" %>
        </li>
        <li>
          <%= link_to "Features", "#", class: "px-3 py-1 rounded-md hover:bg-slate-50 block" %>
        </li>
        <li>
          <%= link_to "Bugs", "#", class: "px-3 py-1 rounded-md hover:bg-slate-50 block" %>
        </li>
        <li>
          <%= link_to "Other", "#", class: "px-3 py-1 rounded-md hover:bg-slate-50 block" %>
        </li>
      </ul>
    </aside>

    <div class="md:col-span-9 md:px-8 md:pt-8 md:pb-32">
      <h1 class="font-bold text-xl tracking-tight text-slate-800 mb-3 capitalize"><%= pluralize(Feature.all.size, 'feature') %></h1>

      <div class="rounded border mb-6">
        <%= render "features/form", feature: @feature %>
      </div>

      <div class="flex items-center gap-6 justify-between w-full bg-slate-50 rounded-t border p-4">
        <%= form_with url: features_path, method: :post, class: "flex items-center gap-4 justify-between w-full", data: { turbo_frame: "features", controller: "filter" } do %>
          <div class="flex items-center gap-4">
            Showing
            <%= select_tag :status_filter, options_for_select(Feature.status_options, @status_filter), class: "form-select w-full", data: { action: "change->filter#submitForm" } %>
            posts
          </div>

          <div>
            <label for="search" class="sr-only">Search</label>
            <%= search_field_tag :search, params[:search], id: "feature_search", class: "form-input w-full", placeholder: "Search...", data: { action: "input->filter#submitForm" } %>
          </div>
        <% end %>
      </div>

      <%= turbo_frame_tag "features" do %>
        <div class="border-x border-b rounded-b divide-y">
          <%= render @features %>
        </div>
      <% end %>

      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

    </div>
  </div>
</div>
